
.inicial{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box_cadastro{
    width: 500px;
    height: 500px;
    background-color: rgb(50, 135, 135);
    opacity: 0.8;
    border: 1px solid rgb(50, 135, 135);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
}
.logo_cadastro{

    width: 150px;
    margin-block-end: 20px;
}


.box_cadastro button{

    background-color: rgb(70, 150, 150);
    border-radius: 10px;
    border-color: rgb(70,150,150);
    width: 30%;
    height: 25px;
    color:bisque;
    font-size: 80%;
    ;
}
.box_cadastro button:hover{
    background-color:rgb(64, 158, 127);

}


.box_cadastro a {
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    font-size: 70%;
    
}

      


